<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    
    <!-- Iterate through particularBook & get the book details 1 by 1 -->

    <% for(i of particularBook){ %>

        <h2>Book ID: <%= i.bookId %></h2>
        <h2> Book Name <%= i.bookTitle %></h2>
        <h2> Book Description <%= i.bookdescription %></h2>
        <h2> Published Date <%= i.publishedDate %></h2>

        <% } %>


</body>
</html>